*{
    margin: 0;
    padding: 0;
}
.container{
    /* border: 2px solid black; */
    height: 45.1rem;
    background-color: #0C0C0C;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 3.3rem;
    /* border: 2px solid rgb(252, 249, 249); */
}

.list{    
    /* display: inline-block;
    justify-content: space-evenly; */
    align-items: center;
    height: 2.1rem;
    width: 26rem;
    margin-top: 1rem;   
    /* border: 2px solid rgb(252, 249, 249); */
}
ul{
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    list-style: none;    
}
li{
    color: aliceblue;
    font-size: 1.2rem;
}
.lang-con{
    height: 3.1rem;
    width: 11rem;
    /* border: 2px solid rgb(252, 249, 249); */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.down {
    border: solid rgb(252, 251, 251);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    
  }
  .transaction{
    display: flex;
    /* justify-content: space-evenly; */
    height: 41.8rem;
    /* margin-top: 2rem; */
    /* border: 2px solid rgb(252, 249, 249); */
  }
  .trans{
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 4rem;
    height: 38rem;
    width: 43.5rem;
    
    /* border: 2px solid rgb(252, 249, 249); */
  }
  .trans h1{
    color: white;
    font-size: 3.5rem;
    margin-top: 3.5rem;
    margin-left: 5rem;
  }
  .trans-img{    
    height: 38rem;
    width: 40rem;
    /* border: 2px solid rgb(252, 249, 249); */
  }
  .trans p{
    color: white;
    font-size: 1.1rem;
    margin-left: 5rem;
  }

  .back{
    height: 35rem;
    width: 38rem;
    position: absolute; 
    margin-top: -2rem;
    margin-left: -9rem;
    /* border: 2px solid rgb(252, 249, 249); */
  }
  .front{
    height: 35rem;
    width: 36rem;
    position: absolute;
    margin-top: 3rem;
    margin-left: 4.5rem;
    /* border: 2px solid rgb(252, 249, 249); */
    z-index: 1;
  }
  
 
  /* .VCards{
    height:37rem;
    width: 42rem;
    border: 2px solid rgb(252, 249, 249);
    background-size: cover;
    transform: rotate(268deg);
  } */
.get{
    display: flex;
    align-items: center;
    height: 2.7rem;
    width: 12rem;
    margin-left: 5rem;
    /* border: 2px solid rgb(252, 249, 249); */
}
.get h3{
    color: white;
    margin-left: 10px;
    z-index: 1;
}
.bottom{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 30rem;
    margin-left: 4.5rem;
    /* border: 2px solid rgb(252, 249, 249); */
}
.active{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 13rem;
    /* border: 2px solid rgb(53, 32, 243); */
}
.num{
    font-size: 2.2rem;
    color: white;
}
.user{
    color: white;
    font-size: 1.1rem;
}
.experience{
    color: white;
    font-size: 1.1rem;
}
.years{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 13rem;
    /* border: 2px solid rgb(53, 32, 243); */
}
.Logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9rem;
    /* border: 2px solid rgb(53, 32, 243); */
    background-color: rgb(41, 40, 40);
}
.Logo img{
    height: 5rem;
    width: 9rem;
}
.payment{
    /* border: 2px solid black; */
    height: 43rem;
    background-color: #0C0C0C;
}
.service{
    display:flex;
    justify-content: space-evenly;
    height:15rem;    
    /* border: 2px solid white; */
}
.service h2{
    font-size: 3.5rem;
    margin-top: 3.8rem;
    color: white;
}
.service p{
    font-size: 1rem;
    color: white;
    margin-top: 7rem;
}
.divs{
    display:flex;
    justify-content: space-evenly;
    align-items: center;    
    height:22rem;
    margin-top: 5rem;
    /* border: 2px solid white; */
}
.div{
    text-align: center;
    height: 14rem;
    width: 14rem;    
    /* border: 2px solid rgb(17, 133, 179); */
}
.div img{
    height: 5rem;
    width: 5rem;
    margin-top: 3rem;
    
}
.div h3{
    color: white;
    font-size: 1.4rem;
    margin-top: 1.5rem;
}
.unique{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(253, 237, 239);
    height: 43rem;
    /* border: 2px solid black; */
    /* gap: 2rem; */
}
.unique h1{
    font-size: 3rem;
    margin-top: 4rem;
    
}
.unique p{
    color: grey;
    margin-top: 2rem;
    
}
.unique img{
    height: 45rem;
    width: 42rem;
    margin-top: -2rem;
    margin-left: 21rem;
}

.features{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    height: 60rem;
    background-color: #0C0C0C;
    gap: 2.8rem;
}
.features h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 3.5rem;
}
.features p{
    color: grey;
    font-size: 1rem;
    text-align: center;
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 39rem;
    /* border: 2px solid white; */

}
.upperbox, .lowerbox{
    display: flex;
    justify-content: space-evenly;
    height: 14rem;
    width: 57rem;
    /* border: 2px solid white; */
}
.box{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 12rem;
    width: 25rem;
    
    /* border: 2px solid rgb(80, 15, 231); */
}
.stars{
    height: 2rem;
    width: 16rem;
    margin-left: 1.7rem;
    margin-top: 1rem;
    
    /* border: 2px solid rgb(80, 15, 231); */
}
.box p{
    color: rgb(221, 217, 217);
    text-align: start;
    margin-left: 1.7rem;
    margin-top: 1.3rem;
}
.box h3{
    color: rgb(223, 219, 219);
    margin-left: 1.7rem;
    margin-top: 1rem;
}
.box h5{
    color: rgb(223, 219, 219);
    margin-left: 1.7rem;
}
.slider{
    display: flex;
    justify-content: space-evenly;
    height: 1.1rem;
    width: 12rem;
    /* border: 2px solid white; */
    margin-left: 22rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.overlap{
    height: 21rem;
    /* border: 2px solid black; */
    background-color: #0C0C0C;
}
.overlap img{
    height: 20rem;
    width: 84rem;
    position: absolute;
    /* border: 2px solid rgb(6, 175, 62); */
    background-size: cover;
}


.heading{
    display: flex;
    flex-direction: column;
    height: 7.2rem;
    width: 40rem;
    /* border: 2px solid rgb(243, 34, 34); */
    margin-left: 2.5rem;
    margin-bottom:0rem;
    position: absolute;
    transform: translate(50%, 50%);
    z-index: 1;
}
.heading h1{
    color: white;
    text-align: center;
    font-size: 3rem;   
    
}
.gets{
    display: flex;
    height: 3rem;
    width: 16rem;
    /* background-color: aqua; */
    transform:translate(50%, 50%);
    margin-top: 2rem;
    margin-left: 6rem;
} 
 .gets img{
    position: absolute;
    height: 3rem;
    width:4rem;
} .gets h4{
    color: aliceblue;
    height: 2rem;
    width: 8rem;
    font-size: 1.3rem;
    z-index: 1;
    margin-left: 2.7rem;
    margin-top: 0.7rem;
}
.arrow{
    height: 2rem;
    margin-left: 10rem;
} 

.footer{
    display: flex;
    /* justify-content: space-around; */
    height: 9rem;    
    background-color: #0C0C0C;
    /* border:2px solid rgb(255, 4, 4); */
}
.bottom-list{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 3rem;
    width: 28rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-left: 12rem;
    
    /* border:2px solid rgb(255, 4, 4); */
}
.bottom-list a{
    color: aliceblue;
    text-decoration: none;
}